{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les séries sur Wild Series : </h1>
        <div class="row">
            {% for program in programs %}
                <div class="d-flex align-items-stretch col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card ws-bg-dark m-2">
                        <img class="card-img-top" src="{{ program.poster }}" alt="Affiche de {{ program.title }}">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-3">{{ program.title }}</h2>
                            <h4 class="card-subtitle mb-2 text-muted">Catégorie : {{ program.category.name }}</h4>
                            <p class="card-text">{{ program.synopsis }}</p>
                            <div class="text-center">
                                <a href="{{ path("program_show", { 'slug':program.slug }) }}" class="btn btn-outline-danger">Voir
                                    la fiche</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucune série trouvée.</p>
            {% endfor %}
        </div>

        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    </div>
{% endblock %}