{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ program.title }}, saison {{ season.number }}</h1>
        {% for episode in episodes %}
            <div class="media">
                <div class="media-body">
                    <a href="{{ path('program_episode_show', {'program_id':program.id, 'season_id':season.id, 'episode_id':episode.id}) }}">
                        <p class="mt-0">Episode n°{{ episode.number }} - {{ episode.title }}</p></a>
                </div>
            </div>
        {% else %}
            <p>Désolé! Aucun épisode trouvé pour cette saison.</p>
        {% endfor %}
        <div>
            <a href="/program/{{ program.id }}">
                Retour à la liste des saisons de {{ program.title }}
            </a>
        </div>
        <div>
            <a href="{{ path('program_index') }}">
                Retour à la liste des programmes
            </a>
        </div>
    </div>
{% endblock %}